* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(228, 187, 187);
    padding: 30px;
    font-family: 'Merriweather', 'Space Grotesk', Arial, Helvetica, sans-serif;
}

.main {
    background: rgb(205, 146, 146);
    width: 600px;
    padding: 40px 20px;
    border-radius: 5rem;
}

.title {
    font-size: 40px;
    font-weight: 700;
    color: rgb(159, 86, 86);
    margin-bottom: 20px;

    padding: 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form .input-box {
    display: flex;
    flex-direction: column;
    color: rgb(159, 86, 86);
    font-weight: 550;
}

form .input-box label {
    margin-bottom: 5px;
}

form .input-box input[type="text"] {
    padding: 25px;
    border: hsl(from color h s l);
    border-radius: 10px;
    background: rgb(128, 66, 66);
    color: rgb(255, 255, 255);
}

form .gender-selection {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(159, 86, 86);
    border-radius: 25px;
    font-weight: 550;
}

form .gender-selection label {
    display: flex;
    align-items: flex-start;
    padding: 25px;
    color: rgb(159, 86, 86);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

form .button {
    text-align: center;
}

form .button button {
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    background: rgb(157, 88, 88);
    color: rgb(159, 86, 86);
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    transition: background 0.3s, transform 0.3s;
}

form .button button:hover {
    background: rgb(199, 101, 101);
    transform: scale(1.05);
}

form .button button:active {
    transform: scale(0.95);
}